body {
  font-family: "Cairo", sans-serif;
  text-align: center;
  background-color: #f8f8ff;
  direction: rtl;
}

h1 {
  color: #2b4d9f;
}

#question {
  font-size: 2em;
  margin: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
